h1 {
  color: purple; }

h2 {
  color: red; }

.card-course-item {
  margin-top: 16px; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px; }

.checkbox-all-options {
  width: 200px;
  margin: 10px 16px; }
