<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="Search input">Từ khoá</label>
            <input type="text" name="q" class="form-control" id="Search input"  placeholder="Enter key word">
        </div>
      
        
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>